DEBUG=True
SECRET_KEY=change-me-use-only-letters-and-numbers
ALLOWED_HOSTS=localhost,127.0.0.1,backend
POSTGRES_DB=blagoda_db
POSTGRES_USER=blagoda_user
POSTGRES_PASSWORD=blagoda_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin