.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters-options {
    display: flex;
    align-items: center;
    gap: var(--space-4);
}

.filters-actions {
    display: flex;
    align-items: center;
    gap: var(--space-6);
}