.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-1);
  flex-shrink: 0;

  padding: var(--space-2) var(--space-3);

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);

  font-family: inherit;
  color: var(--color-text-secondary);
  background: var(--color-brand-primary);
  border: 1px solid var(--color-border-default);
  border-radius: var(--radius-sm);
  cursor: pointer;
  color: var(--color-text-on-brand);

  transition: .1s;
}

.button.secondary {
  background: var(--color-bg-secondary-btn);
  color: var(--color-text-secondary);
}

.button:hover {
  filter: brightness(0.90);
}

.icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}