.mainLayout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;
}

.navigation {
  /* wrapper for SectionNavigation */
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.content {
  flex: 1;
  width: 100%;
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 0 var(--layout-side-padding);
}
